/output/pixel*
src/models/iharm3dDumps/sample_dump_SANE_a+0.94_MKS_0900.h5
scripts/*
.CondaPkg
# Ignore all txt by default
*.txt
#Except the table for the thin disk model!
!Tables/ch24_vals.txt

*.uvfits
# BUT keep the license
!License.txt
/example_notebooks/*

#except for the following notebooks: Autodiff_GRMHD.ipynb Autodiff.ipynb ComputeGeodesics.ipynb GenerateImageGRMHD.ipynb Generateimages.ipynb
!example_notebooks/Autodiff_GRMHD.ipynb
!example_notebooks/Autodiff.ipynb
!example_notebooks/ComputeGeodesics.ipynb
!example_notebooks/GenerateImageGRMHD.ipynb
!example_notebooks/GenerateImages.ipynb
!example_notebooks/SlowLightGRMHD.ipynb
!scripts/run_slowlight.jl
# Generated figures
*.png

# Jupyter noise
**/.ipynb_checkpoints/

# Windows alternate data streams
**/*:Zone.Identifier

