/output/pixel*
src/models/iharm3dDumps/sample_dump_SANE_a+0.94_MKS_0900.h5
scripts/*
.CondaPkg
# Ignore all txt by default
*.txt
#Except the table for the thin disk model!
!Tables/ch24_vals.txt

*.uvfits
# BUT keep the license
!License.txt
/example_notebooks/*

#except for the following notebooks: 
!example_notebooks/calculate_gradients.ipynb
!example_notebooks/generate_image_GRMHD.ipynb
!example_notebooks/generate_images_analytics.ipynb
!example_notebooks/slowlight_GRMHD.ipynb
!scripts/run_slowlight.jl
# Generated figures
*.png


#scripts
!scripts/generate_image.jl
!scripts/pars/
!scripts/pars/example_par.toml

# Jupyter noise
**/.ipynb_checkpoints/

# Windows alternate data streams
**/*:Zone.Identifier

